<div class="footer">
  <div class="container">
   <p>Copyright<font face="Arial">©</font> 2008-2020 <a href="http://www.xxzhixianshai.com/">直线振动筛厂家</a> -新乡市大汉振动机械有限公司 All Rights Reserved 版权所有 <a rel="nofollow" href="https://v.xxdahan.net/shengming.html" target="_blank">免责声明</a></p>
   <p>备案号：<a href="https://beian.miit.gov.cn/" rel="nofollow" target="_blank">豫ICP备09002479号-35</a></p>
 </div>
<script>var _hmt=_hmt||[];(function(){var hm=document.createElement("script");hm.src="//hm.baidu.com/hm.js?11567bf8b5921a591bfa30f2e5264930";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(hm,s)})();</script>
 <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
 <script src="/templets/dh/js/footer.js"></script>
 <script>
   $(".index_case .zy span").mouseover(function() {
   $(".index_case .zy span").eq($(this).index()).addClass("mouse").siblings().removeClass('mouse');
   $(".index_case ul").eq($(".index_case .zy span").index(this)).addClass("on").siblings().removeClass('on');
   });
   </script> 
</div>
<div class="link container">友情链接: <a href='http://www.58chuipo.com' target='_blank'>锤式破碎机</a> <a href='http://www.krqcitie.com' target='_blank'>马达磁铁厂家</a> <a href='http://www.huabogs.com' target='_blank'>钢铝拖链</a> <a href='http://www.lantiandg.com' target='_blank'>干粉搅拌机</a> <a href='http://www.leimengmo.biz' target='_blank'>雷蒙磨</a> <a href='http://www.jnhaikesi.com' target='_blank'>中央除尘</a> <a href='http://www.tazycfyj.com' target='_blank'>蓝莓种苗</a> </div>
