<div class="module-footer">
  <div class="wrapper">
   <p>Copyright<font face="Arial">©</font> 2008-2020 <a href="http://www.xxzhixianshai.com/">直线振动筛厂家</a> -新乡市xx振动机械有限公司 All Rights Reserved 版权所有 <a rel="nofollow" href="https://v.xxdahan.net/shengming.html" target="_blank">免责声明</a></p>
   <p>备案号：<a href="https://beian.miit.gov.cn/" rel="nofollow" target="_blank">豫ICP备xxxxxxx</a></p>
</div>