<div class="product_advantage">
  <div class="container container_advantage">
    <div class="product_ad">
      <dl class="advantage_1">
        <dt>
          <div class="advant_title">直线振动筛内部结构图</div>
        </dt>
        <dd>
          <img src="/images/20151211153075467546.jpg" alt="直线振动筛左侧于后台内部解析图" width="260" height="195"/>
          <img src="/images/20151211154191969196.jpg" alt="直线振动筛右侧于前侧内部解析图" width="260" height="195"/>
        </dd>
      </dl>
      <dl class="advantage_2">
        <dt>
          <div class="advant_title">直线振动筛振动电机安装</div>
          <p align="center"><video src="https://v.xxdahan.net/xxzhixianshai/djazzs.mp4" poster="/images/xxaz.png" controls="controls" width="270" height="160" class="videocc"></video></p>
        </dt>
        <dd><p>调整振动电机具体操作步骤：打开振动筛上的两台振动电机的两端的防护罩，会发现里面每台振动电机端部有两块配种重锤，这两块重锤重叠时电机激振力越大，错开的角度越大时激振力越小，可根据筛分情况来调整配重块的角度的大小来达到理想的筛选目的。</p>
        </dd>
      </dl>
    </div>
    <dl class="advantage_3">
      <div class="advant_title">电机安装位置</div>
      <dd>
        <ul>
          <li>

            <a href="http://www.xxzhixianshai.com/85.html" target="_blank">
              <div class="advant_fl">
                <img src="/images/2-191226225IR11.jpg" alt="下振式直线筛" width="252" height="185"/>
              </div>
              <div class="advant_fr">
                <p><strong>下振式</strong></p>
                <p class="ad_wz">电机安装：<span>底部</span></p>
                <p>特点：激振力大集中，筛分产量高</p>
                <p>物料粒度（mm）：<span>0.074-10</span></p>
              </div>
            </a>
          </li>
          <li>
            <a href="http://www.xxzhixianshai.com/31.html" target="_blank">
              <div class="advant_fl">
                <img src="/images/2-19122621552D55.jpg" alt="侧振式直线筛" width="252" height="185"/>
              </div>
              <div class="advant_fr">
                <p><strong>侧振式</strong></p>
                <p class="ad_wz">电机安装：<span>两侧</span></p>
                <p>特点：放置物料在两侧滞留</p>
                <p>筛分精度：可达<span>400目</span>，筛分效率在<span>96%</span>以上</p>
              </div>
            </a>
          </li>
          <li>
            <a href="http://www.xxzhixianshai.com/42.html" target="_blank">
              <div class="advant_fl">
                <img src="/images/2-1912262251034P.jpg" alt="上振式直线筛" width="252" height="185"/>
              </div>
              <div class="advant_fr">
                <p><strong>上振式</strong></p>
                <p class="ad_wz">电机安装：<span>上部</span></p>
                <p>特点：适合出料口较高且对设备的整体宽度有限制</p>
                <p class="ad_txt">网孔尺寸：<span>2-200目</span></p>
              </div>
            </a>
          </li>
        </ul>
      </dd>
    </dl>
  </div>
</div>