<div class="nav-wrapper">
    <ul id="nav" class="wrapper">
      <% for (let i = 0; i < 8; i++) { %>
        <li class="nav-item"><a href="#" title="网站首页">网站首页</a></li>
        <% } %>

    </ul>
</div>