<div class="wrapper index_news">
  <div class="index_news_list">
    <%= require('../../common/modules/module-title.ejs')({title: '新闻中心'}) %>
    <div class="index_news_recommended"> <dl>
        <a href="/396.html" target="_blank">
          <dt><img src="/uploads/allimg/190626/3-1Z6261G343441.jpg" alt="铁渣筛分要选择什么型号的振动筛？" width="134" height="100"/></dt>
          <dd>
            <p><span>铁渣筛分要选择什么型号的振动筛？</span></p>
            <p>产量低时，可选用小型号的直线振动筛，如；产量高时，可选用...</p>
          </dd>
        </a>
      </dl>

      <dl>
        <a href="/430.html" target="_blank">
          <dt><img src="/uploads/allimg/191111/2-1911111H249152.jpg" alt="硼酸锌筛分使用哪种振动筛？" width="134" height="100"/></dt>
          <dd>
            <p><span>硼酸锌筛分使用哪种振动筛？</span></p>
            <p>硼酸锌是一种非卤素阻燃剂，粒度小、比重小、分散性，广泛应...</p>
          </dd>
        </a>
      </dl>
</div>
    <ul>
      <li><a href="/361.html" target="_blank">515直线振动筛属于重型矿用振动筛吗</a><span>2021-10-28</span></li>
<li><a href="/282.html" target="_blank">磨料行业专用筛分设备-“大汉”牌直线振动筛</a><span>2021-07-31</span></li>
<li><a href="/126.html" target="_blank">直线振动筛在研磨碗丸分级中的应用</a><span>2021-07-31</span></li>
<li><a href="/440.html" target="_blank">直线振动筛不走料的原因</a><span>2021-05-29</span></li>
<li><a href="/447.html" target="_blank">直线振动筛选型需要注意哪些？</a><span>2021-05-29</span></li>
<li><a href="/148.html" target="_blank">直线振动筛在山药豆除杂筛分中的应用</a><span>2021-05-27</span></li>
<li><a href="/212.html" target="_blank">山药豆除杂过程中，离不开直线振动筛</a><span>2021-05-27</span></li>
<li><a href="/445.html" target="_blank">医药粉末用什么振动筛比较合适？</a><span>2021-05-27</span></li>

      <li><a href="/234.html" target="_blank">大型直线振动筛动力学研究与分析</a><span>2021-10-29</span></li>
<li><a href="/409.html" target="_blank">石料直线振动筛多少钱？</a><span>2021-07-31</span></li>
<li><a href="/435.html" target="_blank">影响直线振动筛价格的因素有哪些？</a><span>2021-05-29</span></li>
<li><a href="/197.html" target="_blank">山西毛先生订购的中药材分级直线振动筛已生成</a><span>2021-05-27</span></li>

    </ul>
  </div>
  <div class="index_news_answers">
    <%= require('../../common/modules/module-title.ejs')({title: '常见问题'}) %>
    <div class="common_ask guess-box">
      <ul>
        <li>
          <p class="dt"><span>问</span>直线振动筛台时产量多少？</p>
          <p class="dd"><span>答</span>这个主要是根据您的筛分物料，设备型号等来决定的，我们的直线筛产量范围在0.12-20t/h</p>
        </li>
        <li>
          <p class="dt"><span>问</span>直线振动筛是单电机还是双电机？</p>
          <p class="dd"><span>答</span>标准配置是两个振动电机，有的用户筛分比较简单的物料，也有用一个振动电机的。</p>
        </li>
        <li>
          <p class="dt"><span>问</span>请问直线振动筛的坡度是多少啊？</p>
          <p class="dd"><span>答</span>一般为45°，我们也可按照您的要求设计。</p>
        </li>
        <li>
          <p class="dt"><span>问</span>我们的场地有限，该选择哪种振动筛呢？</p>
          <p class="dd"><span>答</span>我公司生产的直线振动筛可以按照您的现场情况设计外形</p>
        </li>
        <li>
          <p class="dt"><span>问</span>直线振动筛对物料粒度有要求吗?</p>
          <p class="dd"><span>答</span>有，一般为0.074mm--10mm</p>
        </li>
        <li>
          <p class="dt"><span>问</span>直线振动筛分机效果如何？</p>
          <p class="dd"><span>答</span>适用于粒度在0.074—5mm，含水量小于7%的无粘性干式粉状或颗粒，筛分精度可达96%。</p>
        </li>
        <li>
          <p class="dt"><span>问</span>耐火材料选择哪种振动筛？</p>
          <p class="dd"><span>答</span>建议您选择我们的直线振动筛，筛分精度高，产量范围在0.12-20t/h之间。</p>
        </li>
        <li>
          <p class="dt"><span>问</span>厂家支持送货上门吗？</p>
          <p class="dd"><span>答</span>我们的所有设备都是免费送货上门的，到货后还有专人到场进行安装和调试。</p>
        </li>
      </ul>
      <div class="guess-switch"><a href="javascript:void(0)" rel="nofollow"> <span class="switch">换一组</span></a></div>

    </div>
  </div>
</div>