<div class="wrapper all-product-module">
  <div class="all-product-sidebar">
    <h2>直线振动筛分类</h2>

    <div class="product-category-box">
      <div class="title"><a href="#" target="_blank">按材质分类</a></div>
      <dl>
        <dd><a href="#" target="_blank">不锈钢</a></dd>
        <dd><a href="#" target="_blank">碳钢</a></dd>
      </dl>
    </div>

    <div class="product-category-box">
      <div class="title"><a href="#" target="_blank">按物料分类</a></div>
      <dl>
        <dd><a href="#" target="_blank">中药饮片</a></dd>
        <dd><a href="/#" target="_blank">塑料颗粒</a></dd>
      </dl>
    </div>

    <div class="product-category-box">
      <div class="title"><a href="#" target="_blank">按层数分类</a></div>
      <dl>
        <dd><a href="#" target="_blank">单层</a></dd>
        <dd><a href="#" target="_blank">二层</a></dd>
        <dd><a href="#" target="_blank">三层</a></dd>
        <dd><a href="#" target="_blank">四层</a></dd>
      </dl>
    </div>

    <div class="product-category-box">
      <div class="title"><a href="#" target="_blank">按特殊要求分类</a></div>
      <dl>
        <dd><a href="#" target="_blank">可移动直线筛</a></dd>
        <dd><a href="#" target="_blank">降温直线筛</a></dd>
      </dl>
    </div>
  </div>

  <div class="all-product-list-block">
    <h2 class="list-title">直线振动筛</h2>
    <p class="list-desc">厂家在线直销：<span>送货上门，带料免费试机，365天产品包退换，24小时客服在线答疑。询问具体产品价格-</span>
    <div class="product-list">
      <div class="product-item">
        <a href="#" target="_blank">
          <div class="product-img-box">
            <img class="product-img" src="./images/product_1.jpeg" alt="直线振动筛"/>
          </div>
          <div class="product-details">
            <div class="product-name">直线振动筛</div>
            <p class="product-intro"><span>适用含水量小于7%的无粘性，干式粉末，颗粒状物料。</span></p>
            <p class="product-mesh">目数：<span>400目内</span></p>
            <p class="product-ton">产量：<span>0.12~20吨/时</span></p>
            <p class="product-material">材质： <span class="material">不锈钢，碳钢</span></p>
            <p>层数：1~5层</p>
          </div>
        </a>
      </div>
      <div class="product-item">
        <a href="/79.html" target="_blank">
          <div class="product-img-box">
            <img class="product-img" src="./images/product_2.jpeg"  alt="大型直线振动筛"/></div>
          <div class="product-details">
            <div class="product-name">大型直线振动筛</div>
            <p class="product-intro"><span>适用于化工、食品、塑料、医药、冶金、玻璃、建材、粮食、化肥</span></p>
            <p class="product-mesh">具体型号：1000mm~3000mm</p>
            <p class="product-ton">产量：<span>0.12-20吨/时</span></p>
            <p class="product-material">材质：<span class="material">不锈钢，碳钢</span></p>
            <p>层数：1~5层</p>
          </div>
        </a>
      </div>
      <div class="product-item">
        <a href="/93.html" target="_blank">
          <div class="product-img-box">
            <img class="product-img" src="./images/product_3.jpeg" width="306" height="228" alt="多层直线振动筛"/>
          </div>
          <div class="product-details">
            <p class="product-name">多层直线振动筛</p>
            <p class="product-intro"><span>适用于对粉状，颗粒状物料的筛选和分级</span></p>
            <p class="product-mesh">具体型号：500~2500</p>
            <p class="product-ton">产量：<span>0.12-20吨/时</span></p>
            <p class="product-material">材质：<span class="material">不锈钢，碳钢</span></p>
            <p class="product-floor">层数：2~5层</p>
          </div>
        </a>
      </div>
    </div>
  </div>

</div>