<div class="footer">
  <div class="footer-nav"> 
    <div class="wrapper">
      <% for (let i = 0; i < 2; i++) { %>
        <a href="#" target="_blank">直线振动筛</a> 
        <a href="#" target="_blank">超声波振动筛</a> 
        <a href="#" target="_blank">旋振筛</a>
        <% } %>
    </div>
  </div>

  <div class="copyright">
    <div class="wrapper">
      <p>Copyright © 2008-2022 新乡市振动机械有限公司 All Rights Reserved</p>
      <p>备案号：豫ICP备xxxxxx号-xx </p>
    </div>
  </div>

  <div class="friendlink">
    <div class="wrapper">
      友情链接：
      <% for (let i = 0; i < 20; i++) { %>
        <a href='#' target='_blank'>除尘器</a> 
      <% } %>
    </div>
  </div>

</div>