<select id="theme-change">
    <option value ="blue">Blue</option>
    <option value ="red">Red</option>
</select>

<script>
    const $themeChange = document.querySelector('#theme-change')
    $themeChange.addEventListener('change', (e) => {
        const options = e.target.options
        const value = options[options.selectedIndex].value
        window.toggleTheme(value)
    })
</script>

