<div class="headr">
    <div class="top container">
      <h1><a href="http://www.xxzhixianshai.com/">直线振动筛</a></h1>
      <div class="top_tel"><img src="/images/tel.png" alt="联系电话" width="300" height="63"/></div>
    </div>

    <div class="nav">
        <ul class="container">
          <li class="active"><a href="/">网站首页</a></li>
          <li><a href="/cpzs.html">产品中心</a></li>
          <li><a href="/xwzx.html">新闻资讯</a></li>
          <li><a href="/spzq.html" rel="nofollow">视频专区</a></li>
          <li><a href="/gydh.html" rel="nofollow">关于大汉</a></li>
          <li><a href="/lxwm.html" rel="nofollow">联系我们</a></li>
        </ul>
      </div>
    </div>