
    <div class="aboutus-module wrapper">
      <%= require('../module-title/template.ejs')({title: '关于我们'}) %>
      <div class="aboutus-content">
        <div class="aboutus-pic">
          <img src="./images/company.png" />
        </div>

        <div class="aboutus-details">
          <p><strong>直线振动筛厂家</strong></p>
          <p>xx机械12年的直线振动筛的制造生产经验，同时拥有10000平方米现代化厂房，厂家产品先后获得<span>ISO质量</span>体系认证和<span>欧盟CE认证</span>。
            xx厂家是厂家直销型专业为用户打造质优价廉的产品。</p>
          <div>
            <p>厂家承诺</p>
            <p><span>现货供应：</span>xx厂家属于直销型厂家，各类设备型号齐全，货源充足，可支持特殊型号定制。</p>
            <p><span>质量保障：</span>30天质量问题包退，180天质量问题包换，1年质保，易损件支持原厂配发。</p>
            <p><span>服务保障：</span>xx厂家有专业的服务团队，建立30分钟快速响应、72小时到场勘察，24小在线答疑维修等机制，励志在短时间里解决用户的售前，售中，售后问题。</p>
            <p><span>发货保障：</span>常规型号24小时内发货，定制型号7日内发货，缩短发货周期，节约用户成本。</p>
          </div>
        </div>
      </div>
    </div>