<div class="aboutus-module wrapper">
    <%= require('../module-title/template.ejs')({title: '关于我们'}) %>

      <div class="aboutus-content">
        <div class="content-left">
          <div class="company-intro">
            <p>xx机械建立12年以来，拥有10000平方米工厂面积，我们的产品包括：直线振动筛、超声波振动筛、旋振筛、气流筛、实验筛等，为食品、医药、化工、冶金、建材等行业提供筛分方案。公司产品先后获得ISO质量体系认证和欧盟CE认证，产品质量有保障。</p>
            <p><span>【质量保障】：</span>30天质量问题包退，180天质量问题包换，1年质保，终身维修。</p>
            <p><span>【服务保障】：</span>30分钟响应需求、24小时到场勘察，72小时现场维修。</p>
            <p><span>【发货保障】：</span>常规型号24小时内发货，定制型号7日内发货，减少了发货周期，节约用户成本。</p>
          </div>
        </div>

        <div class="content-right">
         <div class="company-photo">
           <img src="./images/company.png" />
         </div>
        </div>
      </div>
  </div>