* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
}
ul, dl, ol {
    list-style: none;
}
a {
    text-decoration: none;
}
.wrapper {
    width: 1440px;
    margin: 0 auto;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

/* 模块标题样式 */
.module-title-box {
    padding: 15px 0;
    .module-title {
        text-align: center;
        font-size: 34px;
    }
}