<div class="advantage-wrapper">
    <div class="advantage wrapper">
        <div class="advantage-title">
            <div class="english-title">advantage</div>
            <div class="main-title">我们的<b>三大优势</b></div>
            <div class="sub-title">—— 专业的振动设备供应商 ——</div>
        </div>
        <div class="advantage-main">
            <div class="advantage-box">
                <img src="./images/advantage_company.gif" class="advantage-pic">
                <div class="advantage-details">
                    <div class="advantage-name">公司优势</div>
                    <p class="advantage-text">
                        创建人有多年的销售经验，对产品和市场定位准确。公司资金流动稳定，下属配套生产厂家业绩稳定，技术专业并有多年稳定的合作模式，足以保证产品质量和生产周期，为客户生产稳定供应渠道。
                    </p>
                </div>
            </div>
            <div class="advantage-box">
                <div class="advantage-details">
                    <div class="advantage-name">产品优势</div>
                    <p class="advantage-text">
                        根据市场发展的需要在进一步完善定型产品的基础上，不断开发新产品和引进先进技术，并长期与高等院校及科研部门进行合作。产品设计先进，制作精细，性能可靠，具有国内先进水平，畅销全国，并深受广大用户的信赖。
                    </p>
                </div>
                <img src="./images/advantage_product.gif" class="advantage-pic">
            </div>
            <div class="advantage-box">
                <img src="./images/advantage_service.gif" class="advantage-pic">
                <div class="advantage-details">

                    <div class="advantage-name">服务优势</div>
                    <p class="advantage-text">
                        具有现场经验丰富人员及专业的技术人员，充分做好售前、售后、设计及监督生产等服务，切实用心为用户打造适合产品标准
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>