<div class="wrapper">
    <%= require('../theme-change/template.ejs')() %>
    <header class="header">
        <h1 class="logo">
            <img src="./images/logo.png" />
        </h1>
        <div class="tel">
            <div class="tel-text">全国统一销售热线</div>
            <div class="tel-info">0373-0000000</div>
        </div>
    </header>
</div>

<div class="nav-wrapper">
    <div class="wrapper">
        <nav class="nav">
            <ul class="nav-list">
                <% for (let i = 0; i < 8; i++) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="#">网站首页</a>
                    </li>
                <% }; %>
            </ul>
        </nav>
    </div>
</div>