<%= require('./modules/header.ejs')({htmlWebpackPlugin}) %>
<%= require('./modules/banner.ejs')() %>
<div class="main">
<%= require('./modules/sidebar.ejs')({text:'联系我们'}) %>
</div>
<%= require('./modules/footer.ejs')() %>
