<div class="product_advantages wrapper">
  <%= require('../../common/modules/module-title.ejs')({title: '我们的优势'}) %>
  <div class="content">
      <div class="advantage-left">
        <img src="./images/loading.png" />
      </div>
      <dd>
        <p><span>应用范围广</span><br/>可以处理粉末、颗粒及浆液物料，筛孔尺寸大至<i>100mm</i>，小至<i>0.2～0.5mm</i>，广泛应用于食品、医药、化工、冶金、建材、磨料、陶瓷、煤炭等行业。</p>
        <p><span>功能强大</span><br/>可将固体颗粒分成大小相等的粒子组，能迅速清除百分含量较低的<i>大颗粒或小颗粒</i>（即除杂），还能把各类浆液中的非溶性大颗粒物质迅速过滤。</p>
        <p><span>筛分规格多</span><br/>单台系列振动筛可配置<i>1～5层筛网</i>，能同时准确、连续分选出2～6个不同的粒子段，分级精度达95%以上。</p>
        <p><span>可定制</span><br/>根据应用行业的不同采用<i>碳钢、不锈钢、塑料</i>等材质，可根据物料不同采用闸门式、加缘式、降温式、气体保护等设计，还可依据用户场地采用不同的安装尺寸。</p>
      </dd>
  </div>
</div>