
    <!--products hot end-->
    <div class="all-product wrapper">
      <%= require('../../common/modules/module-title.ejs')({title: '推荐产品'}) %>
      <div class="all-product-content">
        <div class="pro_classification">
          <h3 class="title">产品类别</h3>

          <ul class="product-cate-list">
            <% for (let i = 0; i < 8; i++) { %>
            <li class="product-cate-item"><a href="#" target="_blank">直线振动筛</a></li>
            <% } %>
            </ul>
        </div>

        <div class="recommended_products">
          <ul class="product-list">
            <% for (let i = 0; i < 16; i++) { %>
            <li class="product-item">
              <a class="product-link" href="#" target="_blank">
                <img class="product-img" src="/images/product_1.jpeg" />
                <div class="product-name">不锈钢直线振动筛</div>
              </a>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
    <!--products list end--> 
