<div class="module-footer">
  <div class="footer-nav">
    <a href="/">网站首页</a><a href="/company">公司简介</a><a href="/product">产品中心</a><a href="/news">新闻中心</a><a
      href="/news/8">技术支持</a><a href="/custom/t/7">成功案例</a><a href="/custom/t/5">资质荣誉</a><a href="/Contact">联系我们</a>
  </div>
  <div class="footer-main">
    <dl class="contact">
      <div>联系我们</div>
      <div class="contact-details">
        <p>地址：xxxxxx</p>
        <p>手机：135xxxxxxxx</p>
        <p>电话：0373-xxxxxxxx</p>
        <p>传真：0373-xxxxxxxx</p>
        <p>邮箱：xxxxx@163.com</p>
        <p>网址：http://wwww.xxxxx.com</p>
      </div>
    </dl>
    <div class="quick-contact">
      <div class="qr">
        <img src="/App/Home/View/Default/Public/images/ewm.jpg">
        <div>扫描微信咨询</div>
      </div>
      <div class="tel">
        <div>服务热线：</div>
        <div class="mobile-number">135xxxxx</div>
        </p>
      </div>
    </div>
  </div>
</div>