
  <!-- 热门产品 start -->
  <div class="products-hot wrapper">
    <%= require('../module-title/template.ejs')({title: '热门产品'}) %>
    <div class="product-list">
      <% for (let i = 0; i < 2; i++) { %>
        <div class="product-item">
          <div class="product-img-box">
            <a class="product-img-link" href="#" target="_blank">
              <img class="product-img transition-scale" src="./images/product_1.jpeg" alt="直线振动筛" />
            </a>
          </div>
          <div class="product-details">
            <div class="product-name">直线振动筛</div>
            <p class="colour">适用含水量小于7%的<span>无粘性干式</span>粉末、颗粒</p>
            <p class="model">目数：<span>400目内</span>产量：<span>0.12~20吨/时</span></p>
            <p class="material">材质：<span><a href="#" target="_blank">碳钢</a></span><span><a href="/pro/proshow1480.html" target="_blank">不锈钢</a></span></p>
            <p class="layer">层数：<span>1~6层</span></p>
            <p class="price"> 价格：<span>4000~46000</span>元</p>
          </div>
        </div>
        <% } %>
    </div>

  </div>
    <!-- 热门产品 end -->
