
.about_display {
    width: 1300px;
    margin: 0 auto;
    h3 {
        text-align: center;
        font-size: 34px;
    }
    .text {
        text-align: center;
    }
}

.logo-header img{ width:100%; height:auto !important}
.logo-header{ float:none; width:100%; overflow:hidden}
.about_display .fw-lc .left{ padding:10px;}
.about_display .fw-lc .left .lxfs{margin-right:0px; width:100%}
.about_display .fw-lc .left .lxfs span{ font-size:15px;}
.about_display .fw-lc .left .lxfs a{ font-size:15px;}
.about_display .fw-lc .right{ float:none; width:100%; overflow:hidden}

.aboutus-content {
    display: flex;
}