<div class="index_case">
    <div class="case_title">
        <h2>工程案例</h2>
        <p class="zy"><span class="mouse">粉末类</span><span>颗粒类</span></p>
    </div>
    <ul class="clearfix on">
        <li><img src="/images/case01.jpg" alt="不锈钢直线振动筛面粉筛分现场，产量5t/h" width="300" height="225"/><br/>不锈钢直线振动筛面粉筛分现场，产量5t/h</li>
        <li><img src="/images/case02.jpg" alt="12t/h木粉筛分现场" width="300" height="225"/><br/>12t/h木粉筛分现场</li>
        <li><img src="/images/case03.jpg" alt="时产15吨滑石粉现场" width="300" height="225"/><br/>
            时产15吨滑石粉现场</li>
        <li><img src="/images/case04.jpg" alt="日处理200吨高岭土生产线项目" width="300" height="225"/><br/>日处理200吨高岭土生产线项目</li>
        <li><img src="/images/case04011543.jpg" alt="锯末筛分现场" width="300" height="225"/><br/>锯末筛分现场</li>
        <li><img src="/images/case04011544.jpg" alt="磨料试机现场" width="300" height="225"/><br/>磨料试机现场</li>
        <li><img src="/images/case04011547.jpg" alt="钛白粉筛分现场实拍" width="300" height="225"/><br/>钛白粉筛分现场实拍</li>
        <li><img src="/images/case04011545.jpg" alt="金属粉筛分使用现场" width="300" height="225"/><br/>金属粉筛分使用现场</li>
    </ul>
    <ul class="clearfix">
        <li><img src="/images/case05.jpg" alt="小麦除杂现场" width="300" height="225"/><br/>小麦除杂现场</li>
        <li><img src="/images/case06.jpg" alt="直线振动筛饲料筛分产量：16t/h" width="300" height="225"/><br/>直线振动筛饲料筛分产量：16t/h</li>
        <li><img src="/images/case07.jpg" alt="石英砂筛分现场" width="300" height="225"/><br/>石英砂直线振动筛筛分现场</li>
        <li><img src="images/case08.jpg" alt="时产量20吨莫来砂生产线" width="300" height="225"/><br/>时产量20吨莫来砂生产线</li>
        <li><img src="/images/case04011550.jpg" alt="塑料颗粒筛分现场" width="300" height="225"/><br/>塑料颗粒筛分现场</li>
        <li><img src="/images/case04011548.jpg" alt="化肥筛分现场实拍" width="300" height="225"/><br/>化肥筛分现场实拍</li>
        <li><img src="/images/case04011546.jpg" alt="珍珠岩筛分现场" width="300" height="225"/><br/>珍珠岩筛分现场</li>
        <li><img src="/images/case04011560.jpg" alt="橡胶颗粒筛分使用现场" width="300" height="225"/><br/>橡胶颗粒筛分使用现场</li>
    </ul>
</div>