<div class="index_case case-module wrapper">
    <div class="module-title-box">
        <h2 class="title">工程案例</h2>
        <div class="title-right">
            <span class="mouse">粉末类</span>
            <span>颗粒类</span>
        </div>
    </div>
    <ul class="case-list on">
        <% for (let i = 0; i < 8; i++) { %>
        <li class="case-item">
            <img class="case-img" src="/images/loading.png" alt="不锈钢直线振动筛面粉筛分现场，产量5t/h" />
            <br/>不锈钢直线振动筛面粉筛分现场，产量5t/h</li>
        <% } %>
    </ul>
    <ul class="case-list">
        <% for (let i = 0; i < 8; i++) { %>
        <li class="case-item">
            <img class="case-img" src="/images/loading.png" alt="小麦除杂现场" />
            <br/>小麦除杂现场</li>
        <% } %>
    </ul>
</div>