<div class="partner-module wrapper">
    <h3 class="module-title">合作伙伴</h3>
    <ul class="partner-list">
        <% for (let i = 0; i < 20; i++) { %>
        <li class="partner-item">
            <div class="partner-img-outer">
                <img class="partner-img" src="/images/loading.png" />
            </div>
        </li>
        <% } %>
    </ul>
</div>