<div class="service_cooperation">
    <h2>合作伙伴</h2>
    <ul>
        <li><img src="/images/partners1.jpg" alt="莲花味精" width="200" height="92"/></li>
        <li><img src="/images/partners2.jpg" alt="广州焙乐道食品有限公司" width="200" height="92"/></li>
        <li><img src="/images/partners3.jpg" alt="上海佳格食品有限公司" width="200" height="92"/></li>
        <li><img src="/images/partners4.jpg" alt="葵花药业集团" width="200" height="92"/></li>
        <li><img src="/images/partners6.jpg" alt="四川蜀中制药有限公司" width="200" height="92"/></li>
        <li><img src="/images/partners7.jpg" alt="唐山三友集团" width="200" height="92"/></li>
        <li><img src="/images/partners8.jpg" alt="中国平煤神马集团" width="200" height="92"/></li>
        <li><img src="/images/partners9.jpg" alt="河北云山化工集团有限公司" width="200" height="92"/></li>
        <li><img src="/images/partners10.jpg" alt="安徽海华科技股份有限公司" width="200" height="92"/></li>
        <li><img src="/images/partners11.jpg" alt="可口可乐股份有限公司" width="200" height="92"/></li>
        <li><img src="/images/partners12.jpg" alt="江西铜业铅锌金属有限公司" width="200" height="92"/></li>
        <li><img src="/images/partners13.jpg" alt="中国科学院上海硅酸盐研究所" width="200" height="92"/></li>
        <li><img src="/images/partners14.jpg" alt="思念食品有限公司" width="200" height="92"/></li>
        <li><img src="/images/partners15.jpg" alt="北京有色金属研究总院" width="200" height="92"/></li>
        <li><img src="/images/partners16.jpg" alt="中国矿业大学" width="200" height="92"/></li>
    </ul>
</div>