<div class="product-core-module wrapper">
    <div class="product-core-content">
        <div class="product-list-block">
            <h2 class="block-title">按层级分类</h2>
            <ul class="product-list">
                <li class="product-item">
                    <a class="product-link" href="#" target="_blank">
                        <img class="product-img" src="./images/loading.png" alt="两层直线振动筛"/>
                        <div class="product-name">两层直线振动筛</div>
                    </a>
                </li>
    
                <li class="product-item">
                    <a class="product-link" href="#" target="_blank">
                        <img class="product-img" src="/images/loading.png" alt="三层直线振动筛" />
                        <div class="product-name">三层直线振动筛</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="product-list-block">
            <h2 class="block-title">按物料分类</h2>
            <ul class="product-list">
                <li class="product-item">
                    <a class="product-link" href="#" target="_blank">
                        <img class="product-img" src="./images/loading.png" alt="医药直线振动筛" />
                        <div>医药直线振动筛</div>
                    </a>
                </li>
                <li class="product-item">
                    <a class="product-link" href="#" target="_blank">
                        <img class="product-img" src="./images/loading.png" alt="塑料颗粒直线振动筛" />
                        <div class="product-name">塑料颗粒直线振动筛</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>