<div class="product-relevat-module wrapper">
    <h2 class="module-title">相关产品</h2>
    <ul class="product-list">
        <% for (let i = 0; i < 5; i++) { %>
        <li class="product-item">
            <a href="#" class="product-link">
                <img class="product-img" src="./images/loading.png" alt="超声波振动筛" />
                <div class="product-name">超声波振动筛</div>
            </a>
        </li>
       <% } %>
    </ul>
</div>