.index_product {
    display: flex;
    overflow:hidden;
    margin-top:40px;
    margin-bottom:25px
}
.index_product_list {
    float:right;
    width:76%
}
.index_product_list ul {
    overflow:hidden;
    margin-left:-1.5%;
    margin-top:10px
}
.index_product_list li {
    float:left;
    width:23.5%;
    margin-bottom:25px;
    margin-left:1.5%;
    text-align:center;
    padding-bottom:10px
}
.index_product_list li a {
    font-size:15px;
    line-height:28px;
    color:#333
}
.index_product_list li img {
    width:100%;
    height: auto !important
}
.index_product_list li a:hover {
    color:red;
    text-decoration:underline
}
.index_product_list .title {
    font-size:20px;
    font-weight:700;
    border-bottom:1px solid #046fd2;
    line-height:40px;
    padding-left:40px;
    color:#fff
}
.index_product_list h2 {
    font-size:20px;
    color:#046fd2;
    margin-bottom:15px;
    background-size:25px;
    padding-left:35px;
}
.index_product_sidebar {
    float:left;
    width:22%
}
.index_product_sidebar .title {
    overflow:hidden;
    line-height:40px;
    background-size:22px
}
.index_product_sidebar .title {
    font-size:20px;
    color:#fff;
    font-weight:700;
    padding-left:50px
}
.index_product .index_product_sidebar .title {
    font-size:15px;
    color: #fff;
    font-weight: 700;
    background-size:18px;
    padding-left:42px;
}
.index_product .index_product_sidebar .title a {
    color: #fff;
}

.index_product_list {
    float:right;
    width:76%
}
.index_product_list ul {
    overflow:hidden;
    margin-left:-1.5%;
    margin-top:10px
}
.index_product_list li {
    float:left;
    width:23.5%;
    margin-bottom:25px;
    margin-left:1.5%;
    text-align:center;
    padding-bottom:10px
}
.index_product_list li a {
    font-size:15px;
    line-height:28px;
    color:#333
}
.index_product_list li img {
    width:100%;
    height: auto !important
}
.index_product_list li a:hover {
    color:red;
    text-decoration:underline
}
.index_product_list .title {
    font-size:20px;
    font-weight:700;
    border-bottom:1px solid #046fd2;
    line-height:40px;
    padding-left:40px;
    color:#fff
}
.index_product_list h2 {
    font-size:20px;
    color:#046fd2;
    margin-bottom:15px;
    background-size:25px;
    padding-left:35px;
}


.vibration_sieve_content{float: left;width: 31%!important;}
.vibration_sieve_fr1 {
    float:right;
    border: 5px #f0f0f0 solid;
    padding-top: 0px;
    border-radius: 0px 0px 60px 0px;
    padding-bottom: 15px;
}

.vibration_sieve_fl p {
    line-height: 30px;
}
.vibration_sieve_fr1 p {
    line-height: 30px!important;
}
.vibration_sieve {
    overflow:hidden;
    margin-bottom:20px;
    margin-top:10px;
}
.vibration_sieve_fl {
    float:left;
    width:47%;
    border:5px #f0f0f0 solid;
    padding-top:0px;
    border-radius: 0px 0px 60px 0px;
    padding-bottom:15px;
}
.vibration_sieve_fr {
    float:left;
    margin-left: 20px;
    width:47%;
    border:5px #f0f0f0 solid;
    padding-top:0px;
    border-radius: 0px 0px 60px 0px;
    padding-bottom:15px;
}
.vibration_sieve p {
    font-size:15px;
    line-height:28px;
    padding:0px 15px;
    color: #444;
}
.vibration_sieve b {
    color:#ff4933;
    font-size:16px;
}
.vibration_sieve .vibration_abstract span {
    font-size:15px;
    color:#046fd2
}
.vibration_sieve h3 {
    font-size:17px;
    overflow:hidden;
    margin-bottom:10px;
    padding-left:15px;
}
.vibration_sieve a:hover h3 {
    color: #007AFF;
    text-decoration: underline;
}
.vibration_sieve .vibration_material span {
    color: #046fd2;
    font-size: 15px;
    border: 1px solid #046fd2;
    padding: 2px 8px;
    margin-left: 5px;
}
.vibration_sieve .vibration_mesh span {
    color:#ff4933;
}
.vibration_sieve img {
    display: block;
    width:  306px;
    height: 227px;
    background-color: #ccc;
}
.vibration_img {
    margin-bottom:10px;
    overflow:hidden
}
.vibration_able span {
    color: #046fd2;
}

.index_product_sidebar {
    float:left;
    width:22%
}
.index_product_sidebar .title {
    overflow:hidden;
    line-height:40px;
    background-size:22px
}
.index_product_sidebar .title {
    font-size:20px;
    color:#fff;
    font-weight:700;
    padding-left:50px
}
.index_product .index_product_sidebar .title {
    font-size:15px;
    color: #fff;
    font-weight: 700;
    background-size:18px;
    padding-left:42px;
}
.index_product .index_product_sidebar .title a {
    color: #fff;
}
.index_product_sidebar ul {
    overflow:hidden;
    margin-bottom:30px;
    border:1px solid #046fd2;
    padding-top:20px
}
.index_product_sidebar li {
    line-height:45px;
    padding-left:25px;
    background-size:10px;
    overflow:hidden
}
.index_product_sidebar li a {
    color:#333;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis
}
.index_product_sidebar li a:hover {
    color:#0066FF
}
.index_product_sidebar h2 {
    overflow:hidden;
    line-height:40px;
    background:#046fd2;
    font-size: 20px;
    text-align: center;
    margin-bottom: 1px;
    color:#fff;
    font-weight:normal
}
.index_product_sidebar dl {
    overflow:hidden;
    margin-bottom:3px;
    border:1px solid #f0f0f0;
    padding-top:5px
}
.index_product_sidebar dd {
    line-height:44px;
    width:40%;
    float: left;
    padding-left:20px;
    text-overflow: ellipsis;
    white-space: normal;
    background-size:8px;
    overflow:hidden
}
.index_product_sidebar dd a {
    color:#444;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-size: 15px;
}
.index_product_sidebar dd:hover a {
    color:#0066FF;
    text-decoration:underline
}
.index_product_sidebar dl li {
    padding-left: 20px;
    float: left;
    width: 40%;
}
.index_product .index_product_sidebar .title {
    font-size: 15px;
    color: #fff;
    font-weight: 700;
    background: #046fd2 ;
    background-size: 18px;
    padding-left: 42px;
}
.index_product .index_product_sidebar .title a{color: #fff;}