<div class="pro_connect container">
    <h2>相关产品</h2>
    <ul>
        <li><a href="/441.html" target="_blank"><img src="/images/1-20051Q53U9506.jpg" alt="超声波振动筛" width="252" height="180"/><br/>超声波振动筛</a></li>
        <li><a href="/442.html" target="_blank"><img src="/images/1-20051Q61105E7.jpg" alt="旋振筛" width="252" height="180"/><br/>旋振筛</a></li>
        <li><a href="/443.html" target="_blank"><img src="/images/1-20051Q61P0495.jpg" alt="摇摆筛" width="252" height="180"/><br/>摇摆筛</a></li>
        <li><a href="/444.html" target="_blank"><img src="/images/2-1912021P0161T.jpg" alt="圆振动筛" width="252" height="180"/><br/>圆振动筛</a></li>
        <li><a href="/418.html"><img src="/images/1-20051Q60231306.jpg" alt="脱水筛" width="252" height="180"/><br/>脱水筛</a></li>
    </ul>
</div>