<div class="container index_product">
  <div class="index_product_sidebar">
    <h2>直线振动筛分类</h2>
    <div class="title"><a href="/list_22_1.html" target="_blank">按材质分类</a></div>
    <dl>
      <dd><a href="/94.html" target="_blank">不锈钢</a></dd>
      <dd><a href="/95.html" target="_blank">碳钢</a></dd>
    </dl>
    <div class="title"><a href="/list_19_1.html" target="_blank">按物料分类</a></div>
    <dl>
      <dd><a href="/80.html" target="_blank">中药饮片</a></dd>
      <dd><a href="/81.html" target="_blank">塑料颗粒</a></dd>
    </dl>
    <div class="title"><a href="/list_20_1.html" target="_blank">按层数分类</a></div>
    <dl>
      <dd><a href="/88.html" target="_blank">单层</a></dd>
      <dd><a href="/89.html" target="_blank">二层</a></dd>
      <dd><a href="/90.html" target="_blank">三层</a></dd>
      <dd><a href="/91.html" target="_blank">四层</a></dd>
    </dl>
    <div class="title"><a href="/list_23_1.html" target="_blank">按特殊要求分类</a></div>
    <dl>
      <dd><a href="/35.html" target="_blank">可移动直线筛</a></dd>
      <dd><a href="/84.html" target="_blank">降温直线筛</a></dd>
    </dl>


    <div class="title"><a href="/list_21_1.html" target="_blank">按电机安装位置分类</a></div>
    <div class="title"><a href="/list_14_1.html" target="_blank">按型号分类</a></div>
  </div>

  <div class="index_product_list">
    <h2>直线振动筛</h2>
    <p class="special_sketch">厂家在线直销：<span>送货上门，带料免费试机，365天产品包退换，24小时客服在线答疑。询问具体产品价格-</span>
    <a class="service_12" src="https://pet.zoosnet.net/JS/LsJS.aspx?siteid=PET32407550&float=1&lng=cn" rel="nofollow" target="_blank">立即询价</a></p>
    <div class="vibration_sieve">
      <div class="vibration_sieve_fl vibration_sieve_content"><a href="/412.html" target="_blank">
          <div class="vibration_img"><img src="/images/202004151021.jpg" width="306" height="228" alt="直线振动筛"/></div>
          <h3>直线振动筛</h3>
          <p class="vibration_abstract"><span>适用含水量小于7%的无粘性，干式粉末，颗粒状物料。</span></p>
          <p class="vibration_mesh">目数：<span>400目内</span></p>
          <p class="vibration_able">产量：<span>0.12~20吨/时</span></p>
          <p class="vibration_material">材质：<span>不锈钢，碳钢</span></p>
          <p>层数：1~5层</p>
        </a>
      </div>
      <div class="vibration_sieve_fr vibration_sieve_content"><a href="/79.html" target="_blank">
          <div class="vibration_img"><img src="/images/202004011028.jpg" width="306" height="228" alt="大型直线振动筛"/></div>
          <h3>大型直线振动筛</h3>
          <p class="vibration_abstract"><span>适用于化工、食品、塑料、医药、冶金、玻璃、建材、粮食、化肥</span></p>
          <p class="vibration_mesh">具体型号：1000mm~3000mm</p>
          <p class="vibration_able">产量：<span>0.12-20吨/时</span></p>
          <p class="vibration_material">材质：<span>不锈钢，碳钢</span></p>
          <p>层数：1~5层</p>
        </a>
      </div>
      <div class="vibration_sieve_fr1 vibration_sieve_content"><a href="/93.html" target="_blank">
          <div class="vibration_img"><img src="/images/202004011029.jpg" width="306" height="228" alt="多层直线振动筛"/></div>
          <h3>多层直线振动筛</h3>
          <p class="vibration_abstract"><span>适用于对粉状，颗粒状物料的筛选和分级</span></p>
          <p class="vibration_mesh">具体型号：500~2500</p>
          <p class="vibration_able">产量：<span>0.12-20吨/时</span></p>
          <p class="vibration_material">材质：<span>不锈钢，碳钢</span></p>
          <p>层数：2~5层</p>
        </a>
      </div>
    </div>
  </div>

</div>