<div class="pro_main container">
    <div class="productfl">
        <h2>按层级分类</h2>
        <ul>
            <li><a href="http://www.xxzhixianshai.com/89.html" target="_blank"><img src="/uploads/191223/2-191223114419252.jpg" width="252" height="180" alt="两层直线振动筛"/><br/>两层直线振动筛</a></li>
            <li><a href="http://www.xxzhixianshai.com/90.html" target="_blank"><img src="/uploads/191223/2-1912231146143P.jpg" alt="三层直线振动筛" width="252" height="180"/><br/>三层直线振动筛</a></li>
        </ul>
    </div>
    <div class="productfr">
        <h2>按物料分类</h2>
        <ul>
            <li><a href="http://www.xxzhixianshai.com/80.html" target="_blank"><img src="/uploads/191227/2-19122G43144346.jpg" alt="医药直线振动筛" width="252" height="180"/><br/>医药直线振动筛</a></li>
            <li><a href="http://www.xxzhixianshai.com/81.html" target="_blank"><img src="/uploads/191227/2-19122G432432W.jpg" alt="塑料颗粒直线振动筛" width="252" height="180"/><br/>塑料颗粒直线振动筛</a></li>
        </ul>
    </div>
</div>