
.product-core  {
    display: flex;
    justify-content: space-between;

    .product-list-block {
        border: 1px solid #eee;
        padding: 15px;
        margin: 0 10px;
    }
    .block-title {
        font-size: 20px;
        color: #046fd2;
        margin-bottom: 15px;
    }
    .product-list {

    }
    .product-item {
        float: left;
        margin-left: 2%;
        width: 47%;
        text-align: center;
        margin-bottom: 20px;
        border: 1px solid #eee;

        &:hover {
            .product-link {
                background: #085AD5;
                color: #fff;
            }

        }
        .product-img {
            display: block;
            width: 100%;
            height: auto;
        }
        .product-link {
            font-size: 15px;
            color: #444;
            border:1px solid #eee;
            line-height:45px;
            display: block;
            text-align: center;
        }
    }

}
