<div class="wrapper">
    <div class="home-news">
        <div class="news-box">
            <h3 class="title">产品知识</h3>
            <div class="content">
                <ul class="news-list">
                    <% for (let i = 0; i < 3; i++) { %>
                    <li class="news-item newscolor"><a class="news-link" href='/397.html' target="_blank">振动筛分类及工作原理</a></li>
                    <% } %>

                    <% for (let i = 0; i < 5; i++) { %>
                    <li class="news-item"><a href='#' class="news-link" target="_blank">怎样根据实际生产需要选择合适的筛机？</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
        <div class="question-box">
            <h3 class="title">产品问答</h3>
            <div class="content">
                <ul class="question-list">
                    <% for (let i = 0; i < 3; i++) { %>
                    <li class="question-item">
                        <div class="question-name">
                            <span>问</span>：振动筛都有哪些型号？
                        </div>
                        <div class="queston-answer">
                            <span>答</span>：①矿用振动筛可分为：重型矿用振动筛筛、自定中心振动筛、椭圆振动筛、脱水筛等。②精细振动筛可分为：旋振筛、直线筛、直排筛、超声波振动筛、过滤筛等。实验振动筛可分为：拍击筛、顶击式振筛机、标准试验筛、药典筛、土壤筛、电动振筛机等
                        </div>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>