<div class="header wrapper">
    <h1 id="logo">
      <a href="/" title="xxx"><img src="./images/logo.png" alt="xxx"></a>
    </h1>
    <div class="tel">
      <p class="tel-tips">全国咨询热线：</p>
      <div class="tel-details">1388888888</div>
    </div>
</div>