<div class="footer">
  <div class="footer-nav"> <a href="/products/8.html" target="_blank">直线振动筛</a> <a href="/products/2.html"
      target="_blank">超声波振动筛</a> <a href="/pro/proshow1509.html" target="_blank">旋振筛</a> <a href="/products/7.html"
      target="_blank">气流筛</a> <a href="/pro/proshow1497.html" target="_blank">摇摆筛</a> <a href="/pro/proshow16.html"
      target="_blank">直排筛</a> <a href="/pro/proshow132.html" target="_blank">过滤筛</a></div>

  <div class="copyright">
    <p>Copyright © 2008-2022 <a href="http://www.xxzds.cn/" target="_blank">振动筛</a>-新乡市大汉振动机械有限公司 All Rights Reserved
      版权所有<a rel="nofollow" href="https://v.xxdahan.net/shengming.html" target="_blank">免责声明</a></p>
    <p>备案号：<a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow">豫ICP备09002479号-62</a> 网站地图：<a
        href="/sitemap.xml" target="_blank">sitemap</a></p>
  </div>

  <div class="friendlink">
    <div class="container">友情链接：[<a href='http://www.jepece.com' target='_blank'>除尘器</a> ][<a
        href='http://www.abc304.com' target='_blank'>304不锈钢焊管</a> ][<a href='http://www.58chuipo.com'
        target='_blank'>锤式破碎机</a> ][<a href='http://www.fsyhx.cn' target='_blank'>PC耐力板</a> ][<a
        href='http://www.supvan.com.cn' target='_blank'>标签打印机</a> ][<a href='https://www.gyjlpsj.com/'
        target='_blank'>对辊破碎机</a> ][<a href='http://www.doufushebei.cn/' target='_blank'>豆腐皮机</a> ][<a
        href='https://www.hunningtu.com/' target='_blank'>混凝土</a> ][<a href='http://www.gulishi.com'
        target='_blank'>钢筋套筒</a> ][<a href='http://www.chxwj.com' target='_blank'>显微镜</a> ][<a
        href='http://www.gdszjsj.com/' target='_blank'>行星减速机</a> ][<a href='http://www.hcet.cn' target='_blank'>温度开关</a>
      ][<a href='http://www.zhengtongjixie.net' target='_blank'>豆腐皮机</a> ][<a href='http://www.doufushebei.com'
        target='_blank'>豆制品设备</a> ][<a href='http://www.whhdgc.net/' target='_blank'>蓄电池测试仪</a> ][<a
        href='http://www.mw2001.com' target='_blank'>刷丝</a> ][<a href='http://www.lab-spectrum.com/'
        target='_blank'>分光光度计</a> ][<a href='http://www.1688sdl.com' target='_blank'>电磁铁</a> ][<a
        href='http://www.mingliang888.cn' target='_blank'>发光字制作</a> ][<a href='http://www.njourdry02.com/'
        target='_blank'>干洗机</a> ] </div>
  </div>

</div>