.product_advantages {
    overflow:hidden;
}
.product_advantages h3 {
    font-size:20px;
    line-height:45px;
    text-align:center;
    color:#fff;
    margin-top:30px;
}


.product_advantages h3 {font-size:20px;line-height:45px; text-align:center; color:#fff; margin-top:30px;}
.advantages{background:#fff;margin-top:20px;border-radius:60px;padding:30px;position:relative;box-shadow:0 0 30px rgba(0,0,0,.3); height:400px; margin-bottom:30px;}
.advantages dt{ float:left; width:48%; margin-top:10px;}
.advantages dt img{ width:100% !important; height:auto !important}
.advantages dd{ float:right; width:50%}
.advantages dd b{ font-size:15px;}
.advantages dd i{ color: #d60101;font-style: normal;}
.advantages dd p{ font-size:14px; line-height:28px; color:#444;border-bottom:1px solid #f0f0f0; padding-bottom:8px; margin-bottom:10px;}
.advantages dd p span{color:#007af4; font-size:16px;}