<div class="products hometit">
    <div class="products_hot container">
      <div class="vibration_sieve_fl">
        <div class="vibration_sieve_img"><a href="/products/8.html" target="_blank"><img src="/images/202003250915.jpg" alt="直线振动筛" border="0" width="293" height="256"/></a></div>
        <div class="vibration_sieve_abstract">
          <h2><a href="/products/8.html" target="_blank">直线振动筛</a></h2>
          <p class="vibration_sieve_colour">适用含水量小于7%的<span>无粘性干式</span>粉末、颗粒</p>
          <p class="vibration_sieve_model">目数：<span>400目内</span>产量：<span>0.12~20吨/时</span></p>
          <p class="vibration_sieve_material">材质：<span><a href="/pro/proshow1511.html" target="_blank">碳钢</a></span><span><a href="/pro/proshow1480.html" target="_blank">不锈钢</a></span></p>
          <p class="vibration_sieve_layer">层数：<span>1~6层</span></p>
          <p class="vibration_sieve_price"> 价格：<span>4000~46000</span>元</p>
        </div>
      </div>
      <div class="vibration_sieve_fr">
        <div class="vibration_sieve_img"><a href="/products/2.html" target="_blank"><img src="/images/202003250911.jpg" alt="超声波振动筛" border="0" width="293" height="256"/></a></div>
        <div class="vibration_sieve_abstract">
          <h2><a href="/products/2.html" target="_blank">超声波振动筛</a></h2>
          <p class="vibration_sieve_colour">适合有<span>静电，有吸附性，轻比重</span>的<span>细粉</span>物料</p>
          <p class="vibration_sieve_model">目数：<span>80-600目</span>产量：<span>1~5吨/时</span></p>
          <p class="vibration_sieve_material">类型：<span><a href="/pro/proshow1512.html" target="_blank">内置式</a></span><span><a href="/pro/proshow1513.html" target="_blank">外置式</a></span></p>
          <p class="vibration_sieve_layer">层数：<span>1~4层</span></p>
          <p class="vibration_sieve_price">价格：<span>3600~40000</span>元</p>
        </div>
      </div>
    </div>
</div>