<div class="products hometit"></div>
    <!--products hot end-->
    <div class="prodisplay container">
      <div class="recommended_products right">
        <h3>推荐产品<span>（我们致力于为用户提供精细筛分产品及配件供应，解决食品、医药、化工、冶金、建材等行业的筛分难题）</span></h3>
        <ul>
          <li>
            <p class="title"><a href="/pro/proshow1480.html" target="_blank"><img src="/images/202003251506.jpg" width="221" height="166" border="0" alt="不锈钢直线振动筛"/><br/>不锈钢直线振动筛</a></p>
            <p class="price"><i>4500~50000元</i><span onclick="openZoosUrl(); _czc.push(['_trackEvent', 0,])">立即咨询</span></p>
          </li>
          <li>
           <p class="title"><a href="/pro/proshow1510.html" target="_blank"><img src="/images/202007161205.jpg" width="221" height="166" border="0" alt="不锈钢超声波振动筛"/><br/>不锈钢超声波振动筛</a></p>
            <p class="price"><i>3800~46000元</i><span onclick="openZoosUrl(); _czc.push(['_trackEvent', 0,])">立即咨询</span></p>
            </li>
          <li>
            <p class="title"><a href="/pro/proshow1509.html" target="_blank"><img src="/images/202007161206.jpg" width="221" height="166" border="0" alt="旋振筛"/><br/>旋振筛</a></p>
            <p class="price"><i>2500~38000元</i><span onclick="openZoosUrl(); _czc.push(['_trackEvent', 0,])">立即咨询</span></p>
          </li>
          <li>
            <p class="title"><a href="/pro/proshow1497.html" target="_blank"><img src="/images/202007161207.jpg" width="221" height="166" border="0" alt="摇摆筛"/><br/>摇摆筛</a></p>
            <p class="price"><i>4600~34000元</i><span onclick="openZoosUrl(); _czc.push(['_trackEvent', 0,])">立即咨询</span></p>
          </li>
          <li>
            <p class="title"><a href="/products/7.html" target="_blank"><img src="/images/202003251150.jpg" width="221" height="166" border="0" alt="气流筛分机"/><br/>气流筛分机</a></p>
            <p class="price"><i>1500~50000元</i><span onclick="openZoosUrl(); _czc.push(['_trackEvent', 0,])">立即咨询</span></p>
          </li>
          <li>
            <p class="title"><a href="/products/6.html" target="_blank"><img src="/images/202007161208.jpg" width="221" height="166" border="0" alt="气旋筛"/><br/>气旋筛</a></p>
            <p class="price"><i>1600~50000元</i><span onclick="openZoosUrl(); _czc.push(['_trackEvent', 0,])">立即咨询</span></p>
           </li>
          <li>
            <p class="title"><a href="/pro/proshow124.html" target="_blank"><img src="/images/202007161209.jpg" width="221" height="166" border="0" alt="高频振动筛"/><br/>高频振动筛</a></p>
            <p class="price"><i>2000~15000元</i><span onclick="openZoosUrl(); _czc.push(['_trackEvent', 0,])">立即咨询</span></p>
          </li>
          <li>
            <p class="title"><a href="/pro/proshow132.html" target="_blank"><img src="/images/202007161210.jpg" width="221" height="166" border="0" alt="过滤筛"/><br/>过滤筛</a></p>
            <p class="price"><i>2000~5000元</i><span onclick="openZoosUrl(); _czc.push(['_trackEvent', 0,])">立即咨询</span></p>
          </li>
          <li>
            <p class="title"><a href="/products/5.html" target="_blank"><img src="/images/202007161212.jpg" width="221" height="166" border="0" alt="直排筛"/><br/>直排筛</a></p>
            <p class="price"><i>2500~43000元</i><span onclick="openZoosUrl(); _czc.push(['_trackEvent', 0,])">立即咨询</span></p>
          <li>
            <p class="title"><a href="/pro/proshow101.html" target="_blank"><img src="/images/202007161214.jpg" width="221" height="166" border="0" alt="气体保护旋振筛"/><br/>气体保护旋振筛</a></p>
            <p class="price"><i>5000~46000元</i><span onclick="openZoosUrl(); _czc.push(['_trackEvent', 0,])">立即咨询</span></p>
           </li>
          <li>
            <p class="title"><a href="/pro/proshow84.html" target="_blank"><img src="/images/202003251118.jpg" width="221" height="166" border="0" alt="不锈钢振动筛"/><br/>不锈钢振动筛</a></p>
            <p class="price"><i>3000~35000元</i><span onclick="openZoosUrl(); _czc.push(['_trackEvent', 0,])">立即咨询</span></p>
          <li>
            <p class="title"><a href="/pro/proshow129.html" target="_blank"><img src="/images/202007161215.jpg" width="221" height="166" border="0" alt="塑料振动筛"/><br/>塑料振动筛</a></p>
            <p class="price"><i>3500~42000元</i><span onclick="openZoosUrl(); _czc.push(['_trackEvent', 0,])">立即咨询</span></p>
          </li>
        </ul>
      </div>
      <div class="sidebar_list left">
        <div class="pro_classification">
          <h3>产品类别</h3>
          <dl>
            <dd><a href="/pro/List8_1.html" target="_blank">直线振动筛</a></dd>
            <dd><a href="/pro/List9_1.html" target="_blank">超声波振动筛</a></dd>
            <dd><a href="/pro/List4_1.html" target="_blank">气流筛</a></dd>
            <dd><a href="/pro/List3_1.html" target="_blank">直排筛</a></dd>
            <dd><a href="/pro/List2_1.html" target="_blank">过滤筛</a></dd>
            <dd><a href="/pro/List7_1.html" target="_blank">试验筛</a></dd>
            <dd><a href="/pro/List5_1.html" target="_blank">拍击筛</a></dd>
            <dd><a href="/pro/List10_1.html" target="_blank">矿用振动筛</a></dd>
          </dl>
        </div>
      </div>
    </div>
    <!--products list end--> 
  </div>