<div class="products hometit"></div>
    <!--products hot end-->
    <div class="prodisplay container">

      <div class="sidebar_list">
        <div class="pro_classification">
          <h3>产品类别</h3>
          <dl>
            <% for (let i = 0; i < 8; i++) { %>
            <dd><a href="/pro/List8_1.html" target="_blank">直线振动筛</a></dd>
            <% } %>
          </dl>
        </div>
      </div>

      <div class="recommended_products">
        <h3>推荐产品<span>（我们致力于为用户提供精细筛分产品及配件供应，解决食品、医药、化工、冶金、建材等行业的筛分难题）</span></h3>
        <ul>
          <% for (let i = 0; i < 16; i++) { %>
          <li>
            <p class="title"><a href="/pro/proshow1480.html" target="_blank"><img src="/images/202003251506.jpg" width="221" height="166" border="0" alt="不锈钢直线振动筛"/><br/>不锈钢直线振动筛</a></p>
            <p class="price"><i>4500~50000元</i><span onclick="openZoosUrl(); _czc.push(['_trackEvent', 0,])">立即咨询</span></p>
          </li>
          <% } %>
        </ul>
      </div>


    </div>
    <!--products list end--> 
  </div>